.content
    .h__info-line ПЕРВЫЙ В РОССИИ СПЕЦИАЛИЗИРОВАННЫЙ МАГАЗИН ПО ПРОДАЖЕ КИТАЙСКОЙ МЕБЕЛИ СО СКЛАДА В МОСКВЕ. РАБОТАЕМ С 2003 ГОДА.
    .h__firm-line
        .h__logo-block
            .middle
                a.logo
        .h__contacts-block
            .h__contacts-block_phone-block
                .middle
                    a.h__contacts-block_phone-block_num 7 (495) <span class="str-col">766 66 70</span>
                    a.h__contacts-block_phone-block_but <i class="ico"></i> Заказать звонок
            .h__contacts-block_info м. "Электрозаводская" ул. Большая Семеновская, д. 10 ТЦ "Мебель России"
        a.h__basket-block
            .middle
                .basket-block_body
                    .basket-block_body_t Корзина
                    img(src="img/bascet.svg")
                .basket-block_info
                    span.line <b>0</b> товаров
                    span.line на сумму
                    span.line <b>1 000 000</b> руб.
    form.h__search-line
        input.h__search-line-in-txt(placeholder="Введите название мебели или каталожный номер")
        a.h__search-line-btn Поиск <i class="ico"></i>