doctype html
html(lang="ru")
    head
        include include/head.jade
    body
        .wrap
            header
                include include/header.jade

            nav
                .content
                    ul
                        li
                            .middle
                                a(href="#") Спальни 
                        li
                            .middle
                                a(href="#") Гостинные
                        li
                            .middle
                                a(href="#") Столовые 
                        li
                            .middle
                                a(href="#") Мягкая мебель
                            ul
                                    
                                li 
                                    <a href="#">Диваны</a>
                                                               
                                li 
                                    <a href="#">Угловые диваны</a>
                                                               
                                li 
                                    <a href="#">Кресла</a>
                                                               
                                li 
                                    <a href="#">Пуфики</a>
                                                                                                 
                                li 
                                    <a href="#">Пуфики</a>
                                                                                                 
                                li 
                                    <a href="#">Пуфики</a>
                                            
                        li
                            .middle
                                a(href="#") Кабинеты
            section.index-page
                .content
                    .index-page__left-block
                        aside
                            .index-page__nav-block
                                .index-page__nav-block_t <i class="ico"></i> Спальни
                                ul
                                    li: <a href="#">Классические спальни (681)</a>
                                    li: <a href="#">Прованс спальни (31)</a>
                                    li: <a href="#">Элитные спальни (287)</a>
                                    li: <a href="#">Итальянские спальни (64)</a>
                                    li: <a href="#">Российские спальни (144)</a>
                                    li: <a href="#">Кровати (3484)</a>
                                    li: <a href="#">Шкафы платяные (931)</a>
                                    li: <a href="#">Варианты комплектов (298)</a>
                                    li: <a href="#">Зеркала спален (395)</a>
                                    li: <a href="#">Матрасы (96)</a>
                                    li: <a href="#">Пуфы и банкетки (433)</a>
                                    li: <a href="#">Столы туалетные (295)</a>
                                    li: <a href="#">Тумбы прикроватные (493)</a>
                                    li: <a href="#">Аксессуары спален (85)</a>
                            .index-page__nav-block
                                .index-page__nav-block_t <i class="ico"></i> Гостинные
                            .index-page__nav-block
                                .index-page__nav-block_t <i class="ico"></i> Столовые
                            .index-page__nav-block
                                .index-page__nav-block_t <i class="ico"></i> Мягкая мебель
                            .index-page__nav-block
                                .index-page__nav-block_t <i class="ico"></i> Кабинеты
                                
                        .index-page__teeser
                        
                            .index-page__teeser_item
                                .index-page__teeser_item_t-block
                                    span Классическая<br> мебель
                                    a <i></i>
                                .index-page__teeser_item_image-block(style="background:url(img/tees1.jpg)")
                                                 
                            .index-page__teeser_item
                                .index-page__teeser_item_t-block
                                    span Элитная<br> мебель
                                    a <i></i>
                                .index-page__teeser_item_image-block(style="background:url(img/tees1.jpg)")
                                                 
                            .index-page__teeser_item
                                .index-page__teeser_item_t-block
                                    span Мебель прованс
                                    a <i></i>
                                .index-page__teeser_item_image-block(style="background:url(img/tees1.jpg)")
                            
                            
                    .float-content
                        .paginator
                            a Главная 
                            span → 
                            a Спальни
                            span →
                            a Современные спальни
                        section.index-txt
                            article
                            
                                h1 Условия доставки и сбора (H1)

                                
                                p Каждому человеку необходимо, чтобы спальня была комфортным и уютным местом, радовала глаз и выполняла максимум функций. Мебель в спальной комнате – почти главная составляющая всего интерьера, и порой уходит много времени, чтобы выбрать подходящий дизайн спальни.
                                
                                p Каждому человеку необходимо, чтобы спальня была комфортным и уютным местом, радовала глаз и выполняла максимум функций. Мебель в спальной комнате – почти главная составляющая всего интерьера, и порой уходит много времени, чтобы выбрать подходящий дизайн спальни.

                              
                                h2 Условия доставки и сбора (H2)

                                
                                p Каждому человеку необходимо, чтобы спальня была комфортным и уютным местом, радовала глаз и выполняла максимум функций. Мебель в спальной комнате – почти главная составляющая всего интерьера, и порой уходит много времени, чтобы выбрать подходящий дизайн спальни.
                                
                                p Каждому человеку необходимо, чтобы спальня была комфортным и уютным местом, радовала глаз и выполняла максимум функций. Мебель в спальной комнате – почти главная составляющая всего интерьера, и порой уходит много времени, чтобы выбрать подходящий дизайн спальни.

  
                              
                                h3 Условия доставки и сбора (H3)

                                
                                p Каждому человеку необходимо, чтобы спальня была комфортным и уютным местом, радовала глаз и выполняла максимум функций. Мебель в спальной комнате – почти главная составляющая всего интерьера, и порой уходит много времени, чтобы выбрать подходящий дизайн спальни.
                                
                                p Каждому человеку необходимо, чтобы спальня была комфортным и уютным местом, радовала глаз и выполняла максимум функций. Мебель в спальной комнате – почти главная составляющая всего интерьера, и порой уходит много времени, чтобы выбрать подходящий дизайн спальни.

  
                              
                                h4 Условия доставки и сбора (H4)

                                
                                p Каждому человеку необходимо, чтобы спальня была комфортным и уютным местом, радовала глаз и выполняла максимум функций. Мебель в спальной комнате – почти главная составляющая всего интерьера, и порой уходит много времени, чтобы выбрать подходящий дизайн спальни.
                                
                                p Каждому человеку необходимо, чтобы спальня была комфортным и уютным местом, радовала глаз и выполняла максимум функций. Мебель в спальной комнате – почти главная составляющая всего интерьера, и порой уходит много времени, чтобы выбрать подходящий дизайн спальни.

  
                              
                                h5 Условия доставки и сбора (H5)

                                
                                p Каждому человеку необходимо, чтобы спальня была комфортным и уютным местом, радовала глаз и выполняла максимум функций. Мебель в спальной комнате – почти главная составляющая всего интерьера, и порой уходит много времени, чтобы выбрать подходящий дизайн спальни.
                                
                                p Каждому человеку необходимо, чтобы спальня была комфортным и уютным местом, радовала глаз и выполняла максимум функций. Мебель в спальной комнате – почти главная составляющая всего интерьера, и порой уходит много времени, чтобы выбрать подходящий дизайн спальни.

  
                              
                                h6 Условия доставки и сбора (H6)

                                
                                p Каждому человеку необходимо, чтобы спальня была комфортным и уютным местом, радовала глаз и выполняла максимум функций. Мебель в спальной комнате – почти главная составляющая всего интерьера, и порой уходит много времени, чтобы выбрать подходящий дизайн спальни.
                                
                                p Каждому человеку необходимо, чтобы спальня была комфортным и уютным местом, радовала глаз и выполняла максимум функций. Мебель в спальной комнате – почти главная <a href="http://www.vogue.fr/">составляющая всего интерьера,</a> и порой уходит много времени, чтобы выбрать подходящий дизайн спальни.

                                  
                                p.desc Каждому человеку необходимо, чтобы спальня была комфортным и уютным местом, радовала глаз и выполняла максимум функций. Мебель в спальной комнате – почти главная <a href="http://www.vogue.fr/">составляющая всего интерьера,</a> и порой уходит много времени, чтобы выбрать подходящий дизайн спальни.
                                
                                p <b>Маркированный список</b>
                                
                                ul
                                    li Стул
                                    li Стол
                                    li Кровать
                                    li Диван
                                    
                                
                                p <b>Нумерованный список</b>
                                
                                ol
                                    li Стул
                                    li Стол
                                    li Кровать
                                    li Диван
                                    
                                p <input type="submit" class="button" value="Кнопка"> <input type="submit" class="button" value="Кнопка" disabled>
                                    
                                    
                                p <input type="submit" class="button-min" value="Кнопка"> <input type="submit" class="button-min" value="Кнопка" disabled>
                                
                                include include/form.jade
                                #tabs1
                                    table
                                        tr
                                            td Название мебели
                                            td Торговая марка
                                            td Каталожный номер
                                            td Цена и наличие
                                        tr
                                            td Название мебели
                                            td Торговая марка
                                            td 234234234
                                            td Цена и наличие
                                        tr
                                            td Название мебели
                                            td Торговая марка
                                            td 234234234
                                            td Цена и наличие
                                        tr
                                            td Название мебели
                                            td Торговая марка
                                            td 234234234
                                            td Цена и наличие
                                
                                        tr
                                            td Название мебели
                                            td Торговая марка
                                            td 234234234
                                            td Цена и наличие
                                
                                        tr
                                            td Название мебели
                                            td Торговая марка
                                            td 234234234
                                            td Цена и наличие
                                
                                        tr
                                            td Название мебели
                                            td Торговая марка
                                            td 234234234
                                            td Цена и наличие
                                
                                    

  
            footer
                .content
                    .f-nav
                        li: <a href="#">Условия доставки и сборки</a>
                        li: <a href="#">Условия оплаты</a>
                        li: <a href="#">Условия возврата и обмена</a>
                        li: <a href="#">Проверить состояние заказа</a>
                        li: <a href="#">Реквизиты организации</a>
                    .f-sh
                        .f-sh_inp-txt
                            input(placeholder="Поиск по сайту")
                            a.button
                                i.ico
                    .f-copy
                        .f-copy_item
                            span © Mix-mebel.ru мебель на любой вкус 2016
                        .f-copy_item
                            ul
                                li: <a class="vk" href=""></a> 
                                li: <a class="face" href=""></a> 
                                li: <a class="od" href=""></a> 
                                li: <a class="inst" href=""></a> 
                        
                        .f-copy_item 
                            a.it Создано командой Айти Грэйд 